# this is a example env file for reference
JWT_SECRET=abc1456%^&*$$#
PORT=3000
# Remember creating the DB first 
# DB settings
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=password
DB_DATABASE=restaurant

